{% set NAV_ITEMS = [
  {
    heading: '製品情報',
    links: [
      { link: '#', label: '製品情報トップ' },
      { link: '#', label: '製品詳細' },
      { link: '#', label: '導入のご相談' },
      { link: '#', label: '導入事例' }
    ]
  },
  {
    heading: 'お知らせ',
    links: [
      { link: '#', label: 'ニュースリリーストップ' },
      { link: '#', label: '月別アーカイブ' }
    ]
  },
  {
    heading: '会社情報',
    links: [
      { link: '#', label: '会社情報トップ' },
      { link: '#', label: '企業概要' },
      { link: '#', label: '社長挨拶' },
      { link: '#', label: '事業案内' },
      { link: '#', label: 'アクセスマップ' }
    ]
  }
] %}

{% set SNS_ITEMS = [
  {
    href: '#',
    icon: 'fab fa-facebook-f'
  },
  {
    href: '#',
    icon: 'fab fa-instagram'
  },
  {
    href: '#',
    icon: 'fab fa-twitter'
  }
] %}

<!-- ▼▼▼ フッター ▼▼▼ -->
{# <footer id="js-footer" class="footer">
  <div class="footer__content-wrapper">
    <div class="footer__content">
      <div class="footer__content-map">
        <iframe allowfullscreen="" aria-hidden="false" frameborder="0" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.0459159529737!2d139.80315461529614!3d35.74967618017841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e4fa6644e8d%3A0x6bc4e612ab55d171!2z5YyX5Y2D5L2P6aeF!5e0!3m2!1sja!2sjp!4v1611569782550!5m2!1sja!2sjp" tabindex="0" width="100%"></iframe>
      </div>
      <div class="footer__content-info">
        <ul class="footer__content-sns">
          {% for ITEM in SNS_ITEMS %}
            <li>
              <a href="{{ ITEM.href }}" class="footer__content-sns-link">
                <i class="{{ ITEM.icon }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
        <dl class="footer__content-table">
          {% for ITEM in TABLE_ITEMS %}
            <dt>{{ ITEM.term }}</dt>
            <dd>{{ ITEM.definition }}</dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <ul class="footer__nav-items">
        {% for ITEM in NAV_ITEMS %}
          <li class="footer__nav-item">
            <a href="{{ ITEM.link }}">{{ ITEM.label }}</a>
          </li>
        {% endfor %}
      </ul>
      <p class="footer__copy">Copyright &copy; XXXXX 2022. All Rights Reserved.</p>
    </div>
  </div>
</footer> #}
<footer class="footer">
  <div class="columns">
    <div class="column is-8">
      <div class="columns">
        {% for ITEM in NAV_ITEMS %}
          <div class="column is-4">
            <div class="columns">
              <div class="column is-4">{{ ITEM.heading }}</div>
              <div class="column is-8">
                <ul>
                  {% for LINK in ITEM.links %}
                    <li><a href="{{ LINK.href }}">{{ LINK.label }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="column is-4 has-text-right">
      <div>お問い合わせ</div>
      <ul>
        <li>03-1234-5678</li>
        <li>adobexd@mail.com</li>
        <li>よくあるご質問</li>
      </ul>
    </div>
  </div>
  <div class="content has-text-right">
    <p>Copyright &copy; XXXXX 2022. All Rights Reserved.</p>
  </div>
</footer>
<!-- ▲▲▲ フッター ▲▲▲ -->
