{% macro default(ITEM) %}
  <article class="media">
    <figure class="media-left">
      <p class="image is-128x128">
        <img class="is-rounded" src="{{ ITEM.thumb }}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <h2>{{ ITEM.name }}</h2>
        <p>{{ ITEM.description }}</p>
        <a href="{{ ITEM.link }}">詳細を見る</a>
      </div>
    </div>
  </article>
{% endmacro %}